<div class="p-8 mb-20">
    <div class="text-4xl border-b pb-4 mb-4">Web Home Page</div>

    <div class=""><div class="text-2xl font-semibold">Buttons</div></div>
    <div class="flex gap-2 mb-4">
        <button>Button</button>
        <a class="btn">A Btn</a>
        <button class="btn">Button Btn</button>
        <button class="btn-primary">Button Btn Primary</button>
        <button class="btn-secondary">Button Btn Secondary</button>
        <button class="btn-success">Button Btn Success</button>
        <button class="btn-warning">Button Btn Warning</button>
        <button class="btn-danger">Button Btn Danger</button>
    </div>

    <div class=""><div class="text-2xl font-semibold">Inputs</div></div>
    <div class="grid gap-4 mb-4">
        <div class="input-group"><div class="input-group-prepend">Input Text</div><div class="input-group-element"><input type="text" placeholder="Input Text" /></div><div class="input-group-append"><button class="btn">Click</button></div></div>
        <div class="input-group"><div class="input-group-prepend">Input Email</div><div class="input-group-element"><input type="email" placeholder="Input Email" /></div><div class="input-group-append"><button class="btn">Click</button></div></div>
        <div class="input-group"><div class="input-group-prepend">Input Password</div><div class="input-group-element"><input type="password" placeholder="Password" /></div><div class="input-group-append"><button class="btn">Click</button></div></div>
        <div class="input-group"><div class="input-group-prepend">Chosen</div><div class="input-group-element render-chosen"></div><div class="input-group-append"><button class="btn">Click</button></div></div>
    </div>
</div>