$themes:(
    "primary":(
        "text":rgb(var(--primary-100)),
    ),
    "secondary":(
        "text":rgb(var(--secondary-100)),
    ),
    "success":(
        "text":white,
    )  ,
    "warning":(
         "text":rgb(var(--warning-100)),
    ),
    "danger":(
         "text":white,
    )   
   
)!default;

input,textarea,.input-text {
    @apply text-base;
}

input,textarea,.btn,.input-text {
    @apply border focus:outline-none rounded-sm px-2 py-1;
}

input,textarea,.input-text {
    @apply focus:border-primary-500 focus:outline-none;
    &:focus {
        box-shadow: 0 0 0 0.2em rgba(var(--primary-500),0.75);
    }
}

.SelectBox {
    @apply border rounded-sm;
}

.SelectControls {
    @apply pl-2;
}

.Select.focus .SelectBox {
    box-shadow: 0 0 0 0.2em rgba(var(--primary-500), 0.75);
}

.btn {
    @apply cursor-pointer select-none hover:bg-gray-200 active:bg-gray-100;
}

.input-group {
    display: flex;
}

@each $name, $value in $themes {
   .btn-#{$name} {
        @apply border select-none focus:outline-none rounded-sm px-2 py-1;  
        transition: background-color 100ms ease-in-out, border-color 100ms ease-in-out, color 100ms ease-in-out;
        color: map-get($map: $value, $key:"text");      
        border-color: rgb(var(--#{$name}-500));
        background-color: rgb(var(--#{$name}-500));
        &:hover {
            background-color: rgb(var(--#{$name}-600));
        }
        &:active {
            background-color: rgb(var(--#{$name}-400));
        }
   }
}