<form class="flex-auto form-pencarian" action="{{ url_for('katalog.pencarian') }}">
    <div class='rounded-full flex ring-1 ring-gray-300 text-gray-300 focus-within:text-gy-500 focus-within:ring-2 focus-within:ring-gy-500 transition-all'>
        <input name='search' type='text' value="" autoComplete='off' placeholder='Cari Judul, Pengarang...' class='no-style py-1 bg-transparent flex-auto' />
        <div class="placeholder flex items-center px-2"><i class="fa fa-search"></i></div>
    </div>
</form>